x-story-list {
    border: none;
    margin-top: 0;
    padding: 0;
}

.links {
    float: right;
}

/* updated styles */

body {
    background-color: color(display-p3 0.0314 0.0588 0.0667);
    font-family: SuisseIntl, -apple-system, "system-ui", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: color(display-p3 0.2824 0.8353 0.5922);
}

.toolbar {
    display: flex;
    border: 1px solid color(display-p3 .1255 .302 .2314);
    border-radius: 3px;
    /* color: color(display-p3 0.2824 0.8353 0.5922); */
    background-color: color(display-p3 0.0863 0.1373 0.1333);
}

.toolbar > * {
    padding: 0.4rem 0.5rem;
    display: flex;
}

.toolbar toolbar-category-selector {
    flex-grow: 1;
    border: none;
    margin-right: 0.5rem; /* to make the right dropdown arrow move in */
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.toolbar select {
    flex-grow: 1;
    border: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

select:focus {
    border: none;
    outline: none;
}

.toolbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border-left: 1px solid color(display-p3 0.1098 0.2157 0.1804);
    max-width: 1.5rem; /* does this annoying pop in thing while the font is still loading, so it shows the text 'settings' which is longer then it shrinks when replaced by the symbol. this helps prevent that */
}

x-story-list div {
    margin-top: 0.5rem;
    border: 1px solid color(display-p3 .1255 .302 .2314);
    border-radius: 3px;
    background-color: color(display-p3 0.0863 0.1373 0.1333);
}

x-story-list div.story-last-clicked {
    border-color: color(display-p3 0.2824 0.8353 0.5922);
}

x-story-list a {
    color: inherit;
    text-decoration: none;
}

x-story-list a:visited {
    color: inherit;
}

.story-score {
    background-color: color(display-p3 0.2824 0.8353 0.5922);
    color: color(display-p3 0.0314 0.0588 0.0667);
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 3px;
}

.story-comments {
    border: 1px solid color(display-p3 0.2824 0.8353 0.5922);
    border-radius: 3px;
    padding: 1px 3px;
    white-space: nowrap;
    font-size: 12px;
}

.story-link {
    margin-right: 3px;
}

.story p {
    margin: 0.8rem;
    line-height: 1.5;
}

.close-button {
    float: right;
    padding: 0.65rem 0.85rem;
    font-size: 1.25rem;
    color: #ba0000;
}

.domain span {
    margin-right: 3px;
}

.domain select,
undo-categorize-component select {
    color: inherit;
    background-color: inherit;
    border: 1px solid color(display-p3 0.2824 0.8353 0.5922);
    border-radius: 3px;
    font-size: 12px;
}

hr {
    margin: 0 0.8rem;
    height: 1px;
    border: none;
    background-color: color(display-p3 0.1412 0.4176 0.2961);
}