#content div {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: 0.5rem;
}

#content a {
    color: #000;
    text-decoration: none;
}

#content a:visited {
    color: #666;
}

#content {
    border: none;
    margin-top: 0;
    padding: 0;
}

p {
    margin: 1rem;
}

.links {
    float: right;
}

.close-button {
    float: right;
    padding: 0.75rem;
    font-size: 1.25rem;
    color: #ba0000;
}

/*  */

body {
    background-color: color(display-p3 0.0314 0.0588 0.0667);
}

.toolbar {
    display: flex;
    width: 100%;
    border: 1px solid color(display-p3 .1255 .302 .2314);
    border-radius: 3px;
    color: color(display-p3 0.2824 0.8353 0.5922);
    background-color: color(display-p3 0.0863 0.1373 0.1333);
}

.toolbar > * {
    padding: 0.4rem 0.5rem;
}

.toolbar select {
    flex-grow: 1;
    border: none;
    margin-right: 0.5rem; /* to make the right dropdown arrow move in */
    color: inherit;
    background-color: inherit;
}

.toolbar select:focus {
    border: none;
    outline: none;
}

.toolbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border-left: 1px solid color(display-p3 0.1098 0.2157 0.1804);
}