<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Caleb's HN Reader</title>
    <link rel="stylesheet" href="/assets/css/settings.css?v={{.Version}}">
    <script type="module" src="{{.SettingsJsBundle}}"></script>
  </head>
  <body>
    <div>
        <a href="/">Home</a>
        <p>You can rename existing categories to keep the domains in that category. You can also leave the category name blank to delete the category. Naming two categories the same thing will combine them into one.</p>
    </div>
    
    <div id="content">
        <p>Loading...</p>
    </div>

    <div>
        <button id="save">Save</button>
    </div>

    <div id="importexport">
        <hr>
        <button id="download">Download Site Data (JSON)</button>
        <p id="lastExported">Last exported: loading...</p>

        <hr>
        <input type="file" id="import" accept=".json">
        <br>

        <button id="importButton">Import</button>
    </div>

  </body>
</html>